@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Battambang:wght@300&family=Poppins:wght@100&family=Roboto:ital,wght@0,100;1,300&family=Urbanist:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bangers', sans-serif;
}

/*Inicio de estruturas e imagens*/

body{
    background-image: url(/img/backgroud-form.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}


.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}

.box{
    display: flex;
    width: 930px;
}

.img-box{
    background-color: #1F3F5D;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.img-box img{
    width: 100%;
}

.form-box{
    background-color: #2D4760;
    backdrop-filter: blur(30px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}

.form-box h2{
    font-size: 30px;
    color: #FFF6EC;
}

.form-box p{
    font-size: 15px;
    color: white;
}

.form-box p{
    font-weight: bold;
    color: #FFF6EC;
    text-decoration: none;
}

.form-box form{
    margin: 20px 0;
}

.form-box h2{
    letter-spacing: 1px;
}

.form-box p{
    letter-spacing: 1px;
    color: #FFF6EC;
    margin-top: 5px;
}

.form-box p a{
    color: inherit;
    letter-spacing: 1px;
    text-decoration: none;
}
/*Fim de estruturas e imagens*/

/*Inicio dos inputs*/

form .input-group{
    margin-bottom: 15px;
}

form .input-group label{
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form .input-group input{
    width: 100%;
    height: 47px;
    background-color: #FFF6EC;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 15px;
    font-size: 17px;
    color: #2D4760;
    transition: all 0.4s ease;
}

form .input-group button{
    width: 100%;
    height: 47px;
    background: #FFF6EC;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 25px;
    color: #2D4760;
    cursor: pointer;
    font-size: 25px;
}

form .input-div{
    text-align: center;
}
form .input-div p {
    letter-spacing: 2px;
    text-decoration: none;
}

form .input-div p a{
    letter-spacing: 2px;
    text-decoration: none;
}

form .input-group label{
    letter-spacing: 2px;
}

/*Fim dos inputs*/

/*Responsivo*/
@media (max-width: 743px) {
    .img-box{
        display:none;
    }
    .box{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;

    }

}
@media (max-width:500px) {
    .w50{
        width: 100;
        padding: 0;
    }
}